.topbarContainer{
    background-color: #29261c;
    padding: 16px 25px;
    display: flex;
    align-items: center;
    .headerLogo{
        span{
            color: yellow;
            margin-right: 12px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .topbarList{
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            li{
                margin: 0px 10px;
                color: white;
                transition: all 250ms ease-in-out;
                &:hover{
                    cursor: pointer;
                    color: #a77b1b;
                }
                &:focus{
                    color: #a77b1b;
                }
            }
        }
    }
    .mobileMenu{
       width: 80%;
       display: flex;
       justify-content: flex-end;
       align-items: center;

       .menuIcon{
           color: white;
           &:hover{
               cursor: pointer;
           }
       }
    }
}